body{
  font-family: $base-font-family;
  font-size: 1em;
}

h1, .h1 {
  @include ms-respond(font-size,3);
  font-weight: bold;
}
h2, .h2 {
  @include ms-respond(font-size,2);
  font-weight: bold;
}
h3, .h3 {
  @include ms-respond(font-size,1);
  font-weight: bold;
}
h4, .h4 {
  @include ms-respond(font-size,1);
  font-weight: bold;
}

.is-disabled{
  color: $faded !important;
}

.section-header{
  @include ms-respond(font-size,0);
  font-family: $mono-font-family;
  text-transform: uppercase;
  font-weight: 400;
  color: $faded;
  border-bottom: 1px solid $border-color;
  margin-bottom: $pad;
}

@font-face {
  font-family: 'HK Grotesk';
  font-display: swap;
  src: local('HK Grotesk Regular'), local('HKGrotesk-Regular'),
      url('~assets/fonts/HKGrotesk-Regular.woff2') format('woff2'),
      url('~assets/fonts/HKGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  font-display: swap;
  src: local('HK Grotesk Bold Italic'), local('HKGrotesk-BoldItalic'),
      url('~assets/fonts/HKGrotesk-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/HKGrotesk-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HK Grotesk';
  font-display: swap;
  src: local('HK Grotesk Italic'), local('HKGrotesk-Italic'),
      url('~assets/fonts/HKGrotesk-Italic.woff2') format('woff2'),
      url('~assets/fonts/HKGrotesk-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HK Grotesk';
  font-display: swap;
  src: local('HK Grotesk Bold'), local('HKGrotesk-Bold'),
      url('~assets/fonts/HKGrotesk-Bold.woff2') format('woff2'),
      url('~assets/fonts/HKGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
