@import "../variables";

.scoreboard-container {
  grid-area: scboard;
  padding: $pad 0;
  border-bottom: 1px solid $border-color;
}

.scoreboard{
  width: 100%;
  height: 100%;
}

.scoreboard-expand{
  width: 100%;
  display: none;

  button{
    margin: 0.5rem auto;
    background-color: white;
    border: 1px solid black;
    padding: 0.625rem 0.5rem;
    line-height: 1;
    display: block;
    transition: background-color 0.15s ease;

    &:hover{
      background-color: $placeholder-grey;
    }
  }
}

.games{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;

  .nogames {
    padding: .5em 0;
    font-style: italic;
    opacity: 0.6;
  }
}

.scoreboard.is-overflowing .scoreboard-expand{
  display: block;
}

.scoreboard.is-collapsed .scoreboard-games{
  overflow: hidden;
}
